<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">Buy01</a>
    
    <div class="navbar-menu">
      <a routerLink="/products" class="navbar-link">Products</a>
      
      <ng-container *ngIf="user; else loggedOut">
        <a routerLink="/profile" class="navbar-link">Profile</a>
        <a *ngIf="user.role === 'SELLER'" routerLink="/seller" class="navbar-link">My Dashboard</a>
        <span class="navbar-user">
          <img *ngIf="user.avatar" [src]="user.avatar" alt="Avatar" class="navbar-avatar" />
          {{ user.name }}
        </span>
        <button (click)="logout()" class="btn-logout">Logout</button>
      </ng-container>
      
      <ng-template #loggedOut>
        <a routerLink="/login" class="navbar-link">Login</a>
        <a routerLink="/register" class="btn-register">Register</a>
      </ng-template>
    </div>
  </div>
</nav>
